@use '../../../assets/styles/mixins' as *;

.form_wrapper {
  width: 80%;
  height: 50vh;
  margin: auto;
  @include screen-media-max(md) {
    width: 100%;
  }

  @include screen-media-min-max(lg, xl){
    width: 100%;
}

  h3 {
    color: var(--dark-purple-2);
    font-size: 1.6rem;
    font-weight: 500;
  }
  h6 {
    color: var(--dark-purple-2);
    font-size: 0.88rem;
    font-weight: 400;
  }
  .sso_wrap {
    @include screen-media-max(xs1) {
      flex-direction: column;
    }
  }

  .signup{
    margin-top: 1rem;
    font-size: 0.7rem;
    color: var(--dark-purple-2);

    b{
      cursor: pointer;
    }
  }
}

