@use '../../../assets//styles/mixins' as *;

.container_wrap {
  display: flex;
  gap: 1rem;
  width: fit-content;
  align-items: center;
  border-radius: 1.3rem;
  background-color: var(--white);
  border: 1px solid var(--white);
  position: relative;
  border-image-source:
    linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
    linear-gradient(0deg, #ffffff, #ffffff);

  box-shadow: 0px 6px 12px 0px #8e989d14;
  backdrop-filter: blur(10px);

  img {
    width: 0.66rem;
    position: absolute;
    left: 7%;
    top: 35%;
  }

  .input {
    border: none;
    min-width: 15rem;
    padding: 0.5rem;
    border-radius: 1.3rem;
    padding-left: 2rem;
    font-size: 0.8rem;
    background-color: var(--white);
    color: var(--dark-purple);
    @include screen-media-max(md) {
      min-width: 9rem;
    }

    &:focus,
    &:focus-visible,
    &:active {
      border: var(--border-1);
    }
  }
}
